<div class="row-fluid">
	<!-- Variables -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<h2>Selection</h2>
				<div class="box">
					<div class="box-content padding">
						<div class="btn-group">
							<button class="btn btn-primary">Years</button>
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
								<li> <a href="">2010</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="box-content padding">
						<div class="btn-group">
							<button class="btn btn-primary">Commodities</button>
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li ng-repeat="d in commodities"><a href="" ng-click="selectCommodity(d);">
									{{d.name}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Charts -->
			<div class="span7">
				<parallel-coordinates-chart id="chart" val="agriculturalOutlookData">
					<svg></svg>
				</parallel-coordinates-chart>
			</div>
			<div class="span3 options">
				<div class="year">
					<h1>2013</h1>
				</div>
				<div class="comodity">
					<h2>{{CommoditySelected.name}}</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@TwBootstrap</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
		</div>
	</div>
</div>
