<label>{{CommoditySelected.id}}</label>
<div>
	<label ng-repeat="d in commodities">
		<input type="radio" id="{{d.id}}" value="{{d.id}}" name="commodity" ng-model="CommoditySelected.id" ng-click="generateCharts()"></input> 
		{{d.name}}
		<br/>
	</label>  
</div>

<a href="" ng-click="setAgriculturalOutlookData()">Ver</a>
<parallel-coordinates-chart id="chart" val="agriculturalOutlookData">
	<div id="principal" class="parcoords" style="width:500px;height:600px;"></div>
</parallel-coordinates-chart>
<br>
<data-grid-parallel id="table" val="dataByCommodityYear">
	<div id="grid"></div>
	<div id="pager"></div>
</data-grid-parallel>

<div>
<p>hola</p>
</div>
