<div class="row-fluid">
	<!-- Variables -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<h2>Selection</h2>
				<div class="box">
					<div class="box-content padding">
						<div class="btn-group">
							<button class="btn btn-primary">Years</button>
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li ng-repeat="y in Years">
								  <a href="" ng-click="selectYear(y);">{{y}}</a>
							    </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="box-content padding">
						<div class="btn-group">
							<button class="btn btn-primary">Commodities</button>
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li ng-repeat="d in commodities"><a href="" ng-click="selectCommodity(d);">
									{{d.name}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Charts -->
			<div class="span7">
				<div class="row-fluid">
				<parallel-coordinates-chart id="chart" val="agriculturalOutlookData">
					<div id="principal"  class="parcoords" style="height:600px;"></div>
				</parallel-coordinates-chart>
				</div>
				<div class="row-fluid">
					<div id="grid"></div>
					<div id="pager"></div>
				</div>
			</div>
			<div class="span3 options">
				<div class="year">
					<h1>{{YearSelected.year}}</h1>
				</div>
				<div class="comodity">
					<h2>{{CommoditySelected.name}}</h2>
				</div>
				<div class="comodity">
					<h3>QP: Production.</h3>
					<h3>IM: Imports.</h3>
					<h3>QC: Consumption.</h3>
					<h3>EX: Exports.</h3>
					<h3>ST: Ending stocks.</h3>
					<h3>OU: Other use.</h3>
					<h3>*kt (for Biofuels in millions of litres)</h3>
				</div>
			</div>
		</div>
	</div>
</div>
